<h1>Recherhce voiture par série</h1>

<table border="1">
    <tr>
        <td>id</td>
        <td>typetable</td>
        <td>Date materiel</td>
        <td>Modele</td>
    </tr>
    {% for Materiel in voitures %}
        <tr>
            <td>
                {{ Materiel.id}}
            </td>
            <td>
                {{ Materiel.typetable }}
            </td>
            <td>
                {{ Materiel.datemateriel|date }}
            </td>

        </tr>
    {% endfor %}
</table>
